.SplashScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 99999;
	opacity: 1;
}

.SplashScreen--hidden {
	pointer-events: none;
	animation: SplashScreen-hide 500ms forwards;
}

@keyframes SplashScreen-hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.SplashScreen__loader {
	display: inline-block;
	position: relative;
	width: 72px;
	height: 10px;
}

.SplashScreen__dot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--vpss-bg-loader, #00a2c7);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.SplashScreen__loader .SplashScreen__dot:nth-child(1) {
	left: 8px;
	animation: SplashScreen-dot1 0.6s infinite;
}

.SplashScreen__loader .SplashScreen__dot:nth-child(2) {
	left: 8px;
	animation: SplashScreen-dot2 0.6s infinite;
}

.SplashScreen__loader .SplashScreen__dot:nth-child(3) {
	left: 32px;
	animation: SplashScreen-dot2 0.6s infinite;
}

.SplashScreen__loader .SplashScreen__dot:nth-child(4) {
	left: 56px;
	animation: SplashScreen-dot3 0.6s infinite;
}

@keyframes SplashScreen-dot1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes SplashScreen-dot2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

@keyframes SplashScreen-dot3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
