#vpss {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: fixed;
  background-color: var(--vpss-bg-splash, /*BG_SPLASH*/);
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0;
  z-index: 99999;
  opacity: 1;
}
